<ion-header class="ion-no-border" mode="ios" translucent>
    <ion-toolbar color="dark" mode="ios" translucent>

        <ion-buttons slot="start">

            <ion-back-button defaultHref="/" color="primary" mode="md"></ion-back-button>

        </ion-buttons>

        <ion-searchbar slot="start" placeholder="Buscar" animated mode="ios" inputmode="text" (ionChange)="onSearchChange ( $event )" [debounce]="250">
        </ion-searchbar>



        <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" slot="end">
            <ion-icon name="grid"></ion-icon>
        </ion-button>

    </ion-toolbar>


</ion-header>