.tamañoHeader {
    width: auto;
    height: auto;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
}

.tamañoBoton {
    width: 70px !important;
    height: 70px !important;
    margin: 20px !important;
}

.tamañoToolBarHeader {
    height: 150px;
}

.tamañoBotonHeader {
    height: 90px !important;
}