<ion-header class="ion-no-border" translucent>



    <ion-toolbar color="dark" class="espaciadoHeader">

        <img src="../assets/img/prego.png" class="tamañoHeader">





        <ion-buttons slot="start">

            <ion-back-button defaultHref="/" color="primary"></ion-back-button>
        </ion-buttons>


        <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" slot="end">
            <ion-icon name="grid"></ion-icon>
        </ion-button>

        <div></div>



    </ion-toolbar>
</ion-header>