<ion-content>




    <div class="conenedorImagen">
        <div class="colorCuadrado">


            <ion-grid fixed class="ion-padding">
                <ion-row>

                    <div class="logoHome">

                        <img src="assets/img/logoHome.png">
                    </div>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-text color="light" class="centrarTexto">
                            <img src="../../../assets/icon/mozo.png" class="iconoMensaje">

                            <h1>Un mozo está yendo a tu mesa.</h1>
                        </ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <div class="botonRegistrar">
                        <ion-button routerLink="/tabs/menu" expand="undefined" color="danger" fill="solid" class="botonVolver">
                            Volver
                        </ion-button>
                    </div>
                </ion-row>






            </ion-grid>





        </div>
    </div>





</ion-content>