<app-header></app-header>

<ion-content color="dark">


    <img src="../../../assets/img/descuentoEfectivo.png" class="ion-padding-horizontal ion-padding-top">

    <img src="../../../assets/img/descuentoHome.png" class="ion-padding-horizontal ion-padding-top">
    <img src="../../../assets/img/descuentoBanco.png" class="ion-padding-horizontal ion-padding-top">
    <img src="../../../assets/img/descuentoNacion.png" class="ion-padding-horizontal ion-padding-top">

    <app-footer></app-footer>

</ion-content>