.slide-full {
    height: 40% !important;
}

ion-card {
    overflow: unset !important;
}

ion-card {
    height: auto;
    width: 200px;
}

.slide-image {
    width: 180px;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px;
}

ion-card-header {
    position: relative;
}

ion-card-content {
    position: relative;
}

.avatar {
    width: 50px;
}

.tituloPlato {
    text-align: left !important;
    padding-bottom: 0px !important;
    height: 50px;
}

.linea {
    height: 1px;
    width: auto;
    background-color: white;
    margin-top: 10px;
}

.sinSombras {
    box-shadow: none !important;
}

.tamañoBoton {
    width: 50% !important;
    height: 50% !important;
    margin: 20px !important;
}

.tamañoBotonHeader {
    height: 10% !important;
}

.menuOpcionesHeader {
    width: 100%;
    height: 25%;
    margin: 0 auto;
    background-image: url('../../../assets/img/prego.png');
    background-size: cover;
}

.colorCuadrado {
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
}