<ion-tabs slot="bottom">

    <ion-tab-bar color="dark">

        <ion-tab-button tab="menu" mode="md">

            <img src="../assets/icon/menu.png" class="tamañoBoton">


        </ion-tab-button>

        <ion-tab-button tab="mozo" mode="md">

            <img src="../assets/icon/manos.png" class="tamañoBoton">

        </ion-tab-button>

        <ion-tab-button tab="carrito" mode="md">

            <img src="../assets/icon/carrito.png" class="tamañoBoton">



        </ion-tab-button>

        <ion-tab-button tab="confirmar" mode="md">

            <img src="../assets/icon/campana.png" class="tamañoBoton">


        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>