<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">

            <ion-back-button defaultHref="/" color="light" mode="md"></ion-back-button>

        </ion-buttons>

        <ion-title>Inicio de sesión</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
    <div class="login">
        <img src="../../../assets/icon/login.png" class="tamañoLogin">
        <div class="lineaBlanca"></div>
        <ion-item color="dark">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input transparent type="text" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item color="dark">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
        <br>
        <ion-button color="danger" expand="block">
            Entrar
        </ion-button>
        <ion-button color="light" expand="block" routerLink="/registro">
            Registrate
        </ion-button>
        <p>¿Olvidaste tu contraseña? ingresá aquí</p>
    </div>

    <app-footer class="footer"></app-footer>

</ion-content>