<ion-content>




    <div class="conenedorImagen">
        <div class="colorCuadrado">


            <ion-grid fixed class="ion-padding">


                <ion-row>

                    <div class="logoHome">

                        <img src="assets/img/logoHome.png">

                    </div>
                </ion-row>

                <ion-row>


                    <div class="botonPedir">
                        <ion-button expand="block" color="danger" fill="solid" routerLink="/tabs/menu">
                            Pedir
                        </ion-button>



                    </div>


                    <div class="botonRegistrar">
                        <ion-button expand="block" color="light" fill="solid">
                            Registrate
                        </ion-button>
                    </div>

                </ion-row>

                <ion-row>

                    <footer class="promocionHome">

                        <img src="assets/img/descuentoHome.png">

                    </footer>

                </ion-row>




            </ion-grid>





        </div>
    </div>





</ion-content>