<ion-content>




    <div class="conenedorImagen">
        <div class="colorCuadrado">


            <ion-grid fixed class="ion-padding">
                <ion-row>

                    <div class="logoHome">

                        <img src="assets/img/logoHome.png">
                    </div>
                </ion-row>
                <ion-row>
                    <ion-col size="12">

                        <ion-item color="danger" class="estilo">
                            <ion-label>
                                <h1> Tu pedido fue <b>Ingresado</b> </h1>
                            </ion-label>
                        </ion-item>


                        <ion-text color="light" class="centrarTexto">
                            <h1>Te estaremos informando del estado de tu pedido en tiempo real</h1>
                        </ion-text>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <div class="botonRegistrar">
                        <ion-button routerLink="/tabs/menu" expand="undefined" color="danger" fill="solid" class="botonVolver">
                            Volver
                        </ion-button>
                    </div>
                </ion-row>
            </ion-grid>

        </div>
    </div>





</ion-content>